body {
  background-color: rgb(242, 244, 232);
  
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.menu {
  text-align: center;
}

.menu div {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(188, 131, 242);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  font-size: 20px;
  
}

.menu a {
  text-decoration: none;
}

.menu div:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(68, 2, 71, 0.2);
    text-decoration: underline;
}



section {
  padding: 50px;
  text-align: center;
}

.profile-img {
  width: 200px;
  border-radius: 100px;
  margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boxmessage {
  margin: 20px auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  background-color: rgb(240, 237, 237);
}
.boxprofile {
  margin: 10px auto;
  padding: px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  background-color: rgb(188, 131, 242);
}





